 <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#home" role="tab" data-toggle="tab">Claim</a></li>
      <li><a href="#codes" role="tab" data-toggle="tab">Codes</a></li>
    </ul>

 <div class="tab-content">
      <div class="tab-pane active" id="home">
<p>Healer Friendly, MD Physician Signed  Med Hosp U (MDU)</p><hr>

<p>Discharge Summaries Service date: 09/02/2009 1313</p><hr>

<p>Physician Discharge Summary</p>
<p>Admit date: 8/23/2009</p>
<p>Discharge date: 9/2/2009</p>
<p>Discharge to: Skilled nursing facility </p>
<p>Discharge Service: Med Hosp Unit (MDU)</p>
<p>Discharge Attending Physician: Healer Friendly, MD</p>
<p>Discharge Diagnoses:</p>
<p>Principal Problem: </p>
<p>Shortness of breath </p>
<p>Active Problems: </p>
<p>Chronic diastolic heart failure </p>
<p>Chronic airway obstruction </p>
<p>CAD (coronary artery disease) </p>
<p>Essential hypertension </p>
<p>Peripheral vascular disease </p>
<p>Ulcer of lower extremity </p>
<p>CHF (congestive heart failure) </p>
<p>Hyperlipidemia </p>
<p>Anemia</p></br>

<p>Hospital Course:
<span style="background-color: #FFFF00">*Acute blood loss anemia: </span> Patient was noted to have a macrocytic anemia during her previous hospitalization. Baseline had previously been 10.0 in July. During that hospital stay, Hb 7.8-9.0 with 2 separate transfusions. B12 and folate were found to be normal. There was concern the patient was bleeding from a GI source. EGD and colonoscopy were negative for source of blood loss. She had a very low reticulocyte count appreciated, so she was started on empiric iron therapy. On discharge, hemoglobin was 8.2. This has down trended to 6.6. EGD without findings of bleeding of causes. Capsule limited but otherwise normal Patient transfused 4 total units of blood during this admission - 2 units of blood on 8/24, 1 unit on 8/28, and 1 unit on 9/1. We provided PPI daily, and we continued ASA given recent fem-pop bypass. We held plavix and appreciate assistance from vascular, at this point given the chronicity of patient's GI bleed and requirements of roughly 6+ units of blood since her discharge after her surgical procedure, will continue to hold Plavix for up to 2 weeks pending stable outpatient hemoglobin. Would recommend checking CBC every other day and consider transfusion for CBC <7 </P>

<p><span style="background-color: #FFFF00">*Shortness of breath: </span> She continues to have shortness of breath. During previous admission, she had a thorough workup of her shortness of breath. It was thought that this was likely multifactorial including CHF, COPD, anemia, and anxiety. During last admission, she was not noted to have desaturations with ambulation. Once again, the patient is satting well on oxygen and on room air. This is likely compounded by her significant anemia. I do believe that anxiety is also playing a role in her shortness of breath. On exam, her lungs are clear. <span style="background-color: #FFFF00">Chest x-ray<span> is negative for acute airspace disease. Given coronary artery disease history an EKG was obtained and showed no acute changes.</p>

<p>We Resumed home Lasix 20mg daily, continued Flovent, Atrovent, and albuterol. We continue supplemental oxygen as needed - although patient is noted to have normal oxygen saturation on room air. We started clonazepam 0.5mg BID prn which seems to have help calm patient and improved her breathing. </p>

<p><span style="background-color: #FFFF00">*Throat Discomfort: - Thrush. </span> White plaques noted on the back of patient's throat palate, these are consistent with likely thrush, as patient is on albuterol Atrovent. Continue nystatin swish and swallow 4 times daily </p>

<p><span style="background-color: #FFFF00">*Hypertension:</span> The patient was noted to be very hypotensive on admission to the emergency room and generally throughout her admission. She received 1 L of normal saline and blood pressures improved to systolics in the 100s to 110s. We held home Lasix and lisinopril given bleeding and general hypotension on admission. Now resumed home lasix but continue to hold lisinopril for now, consider restart at d/c pending blood pressure. Continued atenolol 12.5 mg twice a day with hold parameters SBP less than 100. We stopped Imdur 30 mg given optimal BP. </p>

<p><span style="background-color: #FFFF00">*Chronic systolic and diastolic heart failure:<span> The patient does not seem to be fluid overloaded currently. JVD is difficult to assess given body habitus. Lungs are clear bilaterally. Chest x-ray shows no evidence of fluid overload. </p>

<p><span style="background-color: #FFFF00">*Coronary artery disease:</span> As above, do not believe that the patient's symptoms are secondary to ACS. However given significant history of coronary artery disease. Cardiac enzymes neg x 2. We continued home aspirin, atorvastatin.</p>

<p><span style="background-color: #FFFF00">* Vascular disease status post femoral/popliteal bypass chronic bilateral heel ulcers:<span> Continue aspirin and held plavix - appreciate vascular assistance. Continue wound care of bilateral heel ulcers. At this point vascular surgery recommends restarting Plavix as soon as possible, however given the number of units that patient has needed since her procedure, this being at least 6 units total in the last several weeks, at this point it seems reasonable to hold Plavix for approximately a 2 week timeframe while monitoring hemoglobin intermittently and then consideration of restarting at that time, with again intermittent monitoring of hemoglobin. Pt to follow up with vascular surgery as scheduled. </p>

<p><span style="background-color: #FFFF00">*Urinary incontinence: </span>As noted above, the patient has a history of urinary incontinence. Was thought that this was likely urge incontinence. The patient was hesitant to start medications at this time. Continue Bladder scans every 8 hours.</p>

<p><span style="background-color: #FFFF00">*Chronic pain:</span> Continued home Tylenol, tramadol, voltaren gel, and lidocaine patches. We continued home Percocet as needed. Avoided IV narcotics.</p>

<p><span style="background-color: #FFFF00">*Hematuria:</span> The patient is noted to have 2+ blood on her UA. During previous hospitalization she was very concerned that she could have a kidney stone. UA with 2+ blood but no RBCs, CK low, T Bili WNL - don't think this is hemolysis. Repeat UA without 2+ blood</p>


<p>Procedures:
<span style="background-color: #FFFF00">PR UPPER GI ENDOSCOPY</span>,CTRL BLEED [43255] (UGI ENDOSCOPY; WITH CONTROL OF BLEEDING, ANY METHOD)
<span style="background-color: #FFFF00">PR GASTROINTESTINAL TRACT IMAGING</span> ESOPHAGUS W/I&R [91111] (GASTROINTESTINAL TRACT IMAGING, INTRALUMINAL (EG, CAPSULE ENDOSCOPY), ESOPHAGUS W/PHYSICIAN INTERP/REPORT)
Pertinent Test Results: see below
Condition at Discharge: good</p><hr>

<p>Discharge Medications:</p>
<p>Current Discharge Medication List</p></br>

<p>START taking these medications </p>
<p>Details</p>
<p>clonazePAM (KLONOPIN) 0.5 MG tablet   Take 1 tablet (0.5 mg total) by mouth two (2) times a day as needed.
Qty: 45 tablet, Refills: 0 </p>


<p>CONTINUE these medications which have CHANGED</p>
<p>Details </p>
<p>furosemide (LASIX) 20 MG tablet   Take 1 tablet (20 mg total) by mouth daily. Frequency:PRN Dosage:20 MG Instructions: </p><p>Note:Dose: 20MG</p>
<p>Qty: 30 tablet, Refills: 0</p>

<p>nystatin (MYCOSTATIN) 100,000 unit/mL suspension  Take 5 mL (500,000 Units total) by mouth Four (4) times a day. for 7 days</p>
<p>Qty: 60 mL, Refills: 0</p>

<p>oxyCODONE-acetaminophen (ROXICET) 5-325 mg per tablet   Take 1 tablet by mouth every four (4) hours as needed for pain.</p>
<p>Qty: 30 tablet, Refills: 0  </p>

<p>traMADol (ULTRAM) 50 mg tablet  Take 1 tablet (50 mg total) by mouth every eight (8) hours as needed for pain.
Qty: 45 tablet, Refills: 0 </p>
<p> Associated Diagnoses: Back pain  </p>


<p>CONTINUE these medications which have NOT CHANGED </p>
<p>Details</p>
<p>ondansetron (ZOFRAN) 4 MG tablet  Take 4 mg by mouth every eight (8) hours as needed for nausea.</p>

<p>zolpidem (AMBIEN) 5 MG tablet   Take 5 mg by mouth nightly as needed for sleep.</p>

<p>acetaminophen (TYLENOL) 325 MG tablet   Take 2 tablets (650 mg total) by mouth every four (4) hours as needed for pain.
Qty: 100 tablet, Refills: 2 </p>
<p>Associated Diagnoses: Back pain </p>

<p>albuterol (PROVENTIL HFA;VENTOLIN HFA) 90 mcg/actuation inhaler   Inhale 2 puffs every four (4) hours as needed for wheezing. Use with spacer
Qty: 1 Inhaler, Refills: 0 </p>

<p>aspirin (ECOTRIN) 81 MG tablet  Take 1 tablet (81 mg total) by mouth daily.
Qty: 150 tablet, Refills: 2 </p>

<p>atenolol (TENORMIN) 25 MG tablet  Take 0.5 tablets (12.5 mg total) by mouth Two (2) times a day.</p>
<p>Qty: 90 tablet, Refills: 0</p>

<p>atorvastatin (LIPITOR) 20 MG tablet   Take 1 tablet (20 mg total) by mouth daily. </p>
<p>Qty: 90 tablet, Refills: 0 </p>

<p>calcium citrate 250 mg calcium Tab  Take 500 mg by mouth Two (2) times a day.</p>
<p>Qty: 360 each, Refills: 0 </p>

<p>cholecalciferol, vitamin D3, 1,000 unit capsule   Take by mouth. Frequency:QD Dosage:1000 UNIT Instructions: Note:Dose: 1000 UNIT </p>

<p>diclofenac sodium (VOLTAREN) 1 % gel  Apply 2 g topically 4 (four) times a day as needed for pain. </p>
<p>Qty: 100 g, Refills: 3 </p>
<p>Associated Diagnoses: Chronic pain </p>

<p>docusate sodium (COLACE) 100 MG capsule   Take by mouth. Frequency:PRN Dosage:0.0 Instructions: Note:Dose: 100 MG = 1 CAP</p>

<p>esomeprazole (NEXIUM) 40 MG capsule   Take 40 mg by mouth. Frequency:QD Dosage:40 MG Instructions: Note:Dose: 40MG</p>

<p>ferrous sulfate 325 (65 FE) MG tablet   Take 1 tablet (325 mg total) by mouth 2 (two) times a day with meals. </p>
<p>Qty: 60 tablet, Refills: 11 </p>

<p>fluticasone (FLONASE) 50 mcg/actuation nasal spray  INHALE 2 SPRAYS INTO EACH NOSTRIL ONCE DAILY </p>
<p>Qty: 30 g, Refills: 3</p>

<p>fluticasone (FLOVENT HFA) 220 mcg/actuation inhaler   Inhale 2 puffs 2 (two) times a day.</p>
<p>Qty: 0.03 g, Refills: 10 </p>

<p>ipratropium (ATROVENT HFA) 17 mcg/actuation inhaler   Inhale 2 puffs 4 (four) times a day.</p>
<p>Qty: 0.01 g, Refills: 4 </p>

<p>LIDODERM 5 %(700 mg/patch)  APPLY TWO PATCHES TO PAINFUL SITE ONCE DAILY. LEAVE PATCH ON FOR 12 HOURS OUT OF 24 HOURS. (REMOVE PATCH AFTER 12 HOURS OF USE). </p>
<p>Qty: 90 patch, Refills: 2 </p>

<p>melatonin 3 mg Tab  Take 1 tablet (3 mg total) by mouth nightly.</p>
<p>Qty: 30 tablet, Refills: 5 </p>
<p>Associated Diagnoses: Insomnia</p>

<p>niacin (NIASPAN EXTENDED-RELEASE) 1000 MG CR tablet   Take 1,000 mg by mouth. Frequency:QD Dosage:1000 MG Instructions: </p>
<p>Note:Dose: 1000MG </p>

<p>nitroglycerin (NITROLINGUAL) 0.4 mg/dose spray  Place 1 spray under the tongue every five (5) minutes as needed for chest pain.</p>
<p>Qty: 12 g, Refills: 0 </p>

<p>senna (SENNA) 8.6 mg tablet   Take 2 tablets by mouth nightly as needed for constipation.</p>
<p>Qty: 60 tablet, Refills: 0</p>

<p>STOP taking these medications</p>

<p>polyethylene glycol (MIRALAX) 17 gram packet</p>
<p>Comments:</p>
<p>Reason for Stopping:</p>

<p>clopidogrel (PLAVIX) 75 mg tablet,</p>
<p>Comments:</p>
<p>Reason for Stopping:</p>

<p>isosorbide mononitrate (IMDUR) 30 MG 24 hr tablet<p>  <p>Comments: </p>
<p>Reason for Stopping:</p>

<p>lisinopril (PRINIVIL,ZESTRIL) 5 MG tablet</p>
<p>Comments: </p>
<p>Reason for Stopping: </p><hr>

<p>Pending Test Results:</p>
<p>Hospital Radiology:</p>
<p>Xr Chest Pa And Lateral</p>
<p>8/23/2009 EXAM INFO: 20090191997UN 08/23/09 18:07:24 IMG791 :</p>
<p><span style="background-color: #FFFF00">XR CHEST PA AND LATERAL DICTATED:</span> 08/23/09 19:04:47</p>
<p>INTERPRETATION LOCATION: Main Campus</p>
<p>CLINICAL INDICATION: 70 Year Old (F) with history of Chest Pain</p>
<p>TECHNIQUE: Sitting upright AP</p>
<p>COMPARISON: 8/10/09 at 0034, 7/13/09 at 0329</p>
<p>FINDINGS: Film taken a deep inspiration with lordotic positioning. Heart size appears normal. The lungs are clear except for the lateral left base, where the costophrenic angle cannot be seen. Appearance is somewhat similar to prior studies of July and August, although the retrocardiac density is less. The right lung base is unchanged. Bony structures appear intact.</p>
<p>IMPRESSION: No significant change. Blunting of left costophrenic angle, as before. </p>

<p>Xr Abdomen 1 View </p>
<p>8/24/2009 20090192282UN 08/23/09 21:10:26 IMG4594 :
<span style="background-color: #FFFF00">XR ABDOMEN 1 VIEW EXAM: </span> Radiologic examination, abdomen, one view</p>
<p>INTERPRETATION LOCATION: Main Campus</p>
<p>DICTATED: Saturday, August 23, 2009 23:28:31.</p>
<p>CLINICAL INDICATION: 70 year-old F. - , ABDOMINAL PAIN -</p><p>OTHER SPECIFIED SITE.</p>
<p>TECHNIQUE: Supine AP radiograph of the abdomen.</p>
<p>COMPARISON: None.</p>
<p>FINDINGS: Multiple, nondilated, air-filled loops of small and large bowel are seen in the abdomen. Supine film limits evaluation for intraperitoneal free air. Median sternotomy wires and surgical clips overlie the heart. A vascular stent is identified within the lower mid abdomen. A left femoral compression screw with sideplate fixation is present. No peri-hardware lucency is identified to suggest loosening or infection. Surgical clips overlie the soft tissues in the left hip. There are extensive multilevel degenerative disc disease and severe osteoarthrosis of both hips.</p>
<p>IMPRESSION: No evidence for obstruction. </p><hr>

<p>Discharge Instructions:  </p>
<p>Activity Instructions   =</p>
<p>  Activity as tolerated </p>

<p>Diet Instructions  </p>
<p>  Discharge diet (specify) </p>
<p>  Nutrition Therapy: Cardiac (Heart Healthy Low Sodium)</p>

<p>Other Instructions  </p>
<p>Follow-up with primary physician  </p>
<p>Follow up with your vascular surgeon as scheduled for further management of your vascular disease.
Follow up with your primary care physician within 1 week of discharge from the nursing facility </p>

<p>Follow Up instructions and Outpatient Referrals </p>
<p>  Call MD for: difficulty breathing, headache or visual disturbances</p>
<p>  Call MD for: persistent nausea or vomiting  </p>
<p>  Call MD for: severe uncontrolled pain   </p>
<p>  Call MD for: temperature >38.5 Celsius </p>
<p>  Call MD for: Dark tarry stools, or bright red blood per rectum.</p>

<p>Referral to home health </p>
<p>Please evaluate Patient Smith for admission to Home Health.
Disciplines requested: Nursing, Physical Therapy, Occupational Therapy, Medical Social Work and Home Health Aide</p>

<p>Services to provide: Other: Rn for wound care, CV assessment. labdraw for CBC on Monday August 25th, pls send results to PCP.HH PT eval and treat for strengthening and endurance. HH OT- eval and treat for ADL and mobility. HH SW-community resources for increased support in the home.pt has been told if she returns to hospital in next 1-2 weeks HH will possibly not be an option for future. Pt has been told repetitively recommendations of SNF level of care.
pls assess for telemonitoring,</p>


<p>Provide daily home telemonitoring.</p>
<p>Heart rate parameters: 50-100 bpm</p>
<p>BP parameters: 90/50-170/100 </p>
<p>SPO2 parameters: < 88 % </p>
<p>Weight gain parameters: > 2 lbs in 24 hrs or > 5 lbs in 1 week
Patient may take an extra dose of Lasix for weight gain outside the parameters as stated. Please contact her physician if she meets those criteria at the HOSPITAL Internal Medicine Clinic (555-123-4567). </p>

<p>Wound care regimen </p>
<p>Current wound care: Wound care Left Heel:</p>
<p>1. Swab left heel with betadine, secure with dry wrap gauze and change daily.</p>
<p>Wound care Right Heel: </p>
<p>1. Apply silvasorb wound gel to right heel,
2.cover with 2x2 dry gauze, kerlix wrap, secure with tape
3. Change dressing daily
Physician to follow patient's care (the person listed here will be responsible for signing ongoing orders): PCP HOSPITAL Internal Medicine (555-123-4567)
CBC lab draw Tuesday September 2nd, pls send to PCP
Requested Start of Care Date: Day after Discharge </p>

<p>Length of Discharge: I spent greater than 30 mins in the discharge of this patient.</p>
<p>Attending Attestation:</p>
<p>I saw the patient with the NP on the day of discharge and agree with the discharge plans and disposition as recorded by the NP. No events overnight and pt reports no dyspnea or pain this am. Physical exam within normal limits. I reviewed her labs, med list, and diagnostic studies. Acute blood loss anemia of unclear etiology s/p EGD, colonoscopy, and capsule studies that were unrevealing. S/p multiple transfusion now hgb stable and no further bleeding episode. Off Plavix for now given high risk of recurrent bleeding but will continue with low dose ASA given significant PVD and CAD. Discharge plans discussed with patient and her daughter by me. I personally spent over 30 minutes in the discharge planning process. Healer Friendly, MD </p>

<p>Healer Friendly, MD Physician Signed  Med Hosp U (MDU)  Discharge Summaries Service date: 09/02/2009 1313</p>
</div>

<div class="tab-pane" id="codes">
  <h4>99123</h4>
  <h4>99124</h4>
  <h4>99125</h4>
  <h4>99126</h4>
  <h4>99127</h4>
  <h4>99128</h4>
</div>
</div>
