<body class="welcome-page">
<div class="text_wel"
  <h1><b>Welcome!!</b></h1></br>
  <h4><u>Fast-EHR</u> is a tool used for automatic processing</br>of EHR documents to generate <i><u>ICD9 codes</u></i> for timely</br>
healthcare delivery, reporting and billing</br> and reimbursement  </h4>
</br>
</div>
</body>
